__pycache__/
.idea/
.DS_Store
.images/
images/
.data/vicuna-7b/
data/vicuna-7b/

data/eva_vit_g.pth
.data/eva_vit_g.pth
eva_vit_g.pth
data/finetune_lynx.pt
.data/finetune_lynx.pt
finetune_lynx.pt

result_0.jsonl
*/__pycache__/